body{
  margin: 0;
}
h1 {
    color: blue;
  }
  h2 {
    color: blue;
  }
  h3 {
    color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    color: white;
    display: block;
    padding: 0px;
    background-color: black;
  }
  footer {
    color: white;
    background-color: black;
  }
 