h1 {
    color: blue;
  }
  h2 {
    color: blue;
  }
  h3 {
    color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    color: white;
    display: block;
    padding: 8px;
    background-color: black;
  }
  footer {
    color: white;
    background-color: black;
  }
  header.primary:before {
    content: "";
    background: url(../images/webpage-header.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0.5;
  }
  header.primary h1 {
    position: relative;
    text-decoration: none;
  }