#bannerimage {
  width: 100%;
  background-image: url(../images/webpage-background.jpg);
}
nav{
  background-color: black;
}
h1 {
    color: blue;
  }
  h2 {
    color: blue;
  }
  h3 {
    color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    color: white;
    display: block;
    padding: 8px;
    background-color: black;
  }
  footer {
    color: white;
    background-color: black;
  }
 